{% extends "base.html" %}

{% block title %}Conclusión y Recomendación Clave{% endblock %}

{% block content %}
<main>
    <!-- Conclusión y Recomendación Clave -->
    <section class="conclusion">
        <h2>Conclusión y Recomendación Clave</h2>
        <p class="justified-text">
            El análisis de la industria cinematográfica revela oportunidades para los estudios pequeños a pesar de la volatilidad de los ingresos. Especializarse en géneros como terror y familia, que ofrecen un alto retorno de inversión (ROI) con presupuestos bajos, es clave para los estudios pequeños. Los géneros de acción y animación siguen siendo apuestas seguras para estudios con mayores recursos.
        </p>
        <p class="justified-text">
            Además, colaborar con directores y actores con un historial de ingresos predecibles, como Tim Burton y Leonardo DiCaprio, puede reducir el riesgo financiero. También se recomienda que la duración de las películas esté entre los 70 y 150 minutos, ya que este rango muestra un buen equilibrio entre costos y atractivo para la audiencia.
        </p>
        <p class="justified-text">
            En resumen, los nuevos estudios deberían centrarse en géneros rentables, colaboradores confiables y una duración moderada para maximizar las oportunidades de éxito financiero en un mercado competitivo.
        </p>
    </section>
</main>
{% endblock content %}
